@model IEnumerable<ENU.EJM.Web.Models.MapSupervisorToEngineer>

@{
    ViewBag.Title = "EngineerMapping";
}

<h2>EngineerMapping</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
